

@media (max-width:1500px){

.navbar-dark .navbar-nav .nav-link {font-size: 13px; font-weight:600;}

.navbarheader .nav-link{margin-left:0px;}

.slidertext h1{font-size:60px; line-height:60px;}

.slidertext p{    font-size: 22px;margin-bottom: 43px;}

.title h3 {font-size: 30px;}

.bgcolor1{    padding: 160px 0;}

.mainwidt{ margin: auto; margin-top:0px;}

.box1{margin-bottom:20px;}

.tabbing-plus-slider ul{margin:0px;     text-align: center;

    margin: auto;

    display: -webkit-inline-box;}

.tabbing-plus-slider-one ul{margin:0px; }

.tabbing-plus-slider-one .slick-prev {left: 10px;     z-index: 99999;}

.list li span.imp-margin {margin-left: 20px;}

.list li span { font-size: 14px;padding: 0 0rem; margin-left: 20px;}

.video-caption{font-size:18px;}

.boxfooter ul li {padding: 0px 0 7px 24px;}

.boxfooter ul li { padding: 0px 0 0px 0px;}

.boxfooter ul li i{top:6px;}

.boxfooter ul li a{font-size:12px;}

.boxtext {padding: 2px 20px;     width: 62%;

    margin: auto}


.box1 h4{font-size:14px;}

.box1 p{font-size:14px;}

.box1{min-height:400px;}

.box span {

    float: right;

    color: #e51b00;

    position: absolute;

    right: 9px;

    bottom: 0px;}

.tabbing-plus-slider img{    padding: 0 13px;}

.tabbing-plus-slider p {text-align: left!important;padding: 20px 14px;}



}



@media (max-width:1399px){

.navbar-dark .navbar-nav .nav-link {font-size: 16px; font-weight:600;}

.navbarheader .nav-link{margin-left:0px;}

.slidertext h1{font-size:60px; line-height:60px;}

.slidertext p{    font-size: 22px;margin-bottom: 55px;}

.title h3 {font-size: 30px;}

.bgcolor1{    padding: 160px 0;}

.mainwidt{ margin: auto; margin-top:0px;}

.box1{margin-bottom:20px;}

.tabbing-plus-slider ul{margin:0px;}

.tabbing-plus-slider-one ul{margin:0px;}

.tabbing-plus-slider-one .slick-prev {left: 10px;     z-index: 99999;}


.list li span.imp-margin {margin-left: 108px;}

.list li span { font-size: 18px;padding: 0 3rem; margin-left: 20px;color: #c7ced6;}

.video-caption{font-size:18px;}

.boxfooter ul li {padding: 0px;}



.boxfooter ul li i{top:6px;}

.boxfooter ul li a{font-size:12px;}

.boxtext {padding: 2px 20px;     width: 62%;

    margin: auto}


.box1 h4{font-size:14px;}

.box1 p{font-size:14px;}

.box1{min-height:380px;}

.box span {

    float: right;

    color: #e51b00;

    position: absolute;

    right: 9px;

    bottom: 0px;}

.tabbing-plus-slider img{    padding: 0 13px;}

.tabbing-plus-slider p {text-align: left!important;padding: 20px 14px;}



}





@media (max-width:1199px){
    .btnpadd {
    padding: 20px 9px!important;}

    .list-for li {

    padding-left: 5px;

    padding-right: 5px;}

    .chart{height:455px;}

    .tabainglist ul li{font-size:13px;}

    .another-inner-heading{font-size:18px;}

.tab-buttons span{    font-size: 13px;     padding: 10px 16.8px;}

.navbar-dark .navbar-nav .nav-link {font-size: 11px;}

.navbarheader .nav-link{margin-left:0px;}

.slidertext h1{font-size:40px; line-height:45px;}

.slidertext p{font-size:18px; margin-bottom:20px;}

.title h3 {font-size: 30px;}

.bgcolor1{    padding: 131px 0;}

.mainwidt{ margin: auto; margin-top:20px;}

.box1{margin-bottom:20px;}

.tabbing-plus-slider ul{margin:0px;}

.tabbing-plus-slider-one ul{margin:0px;}

.tabbing-plus-slider-one .slick-prev {left: 10px;     z-index: 99999;}


.list li span.imp-margin {margin-left: 20px;}

.list li span { font-size: 14px;padding: 0 0rem; margin-left: 20px;}

.video-caption{font-size:18px;}

.boxfooter ul li {padding: 0px 0 7px 24px;}

.boxfooter ul li { padding: 0px 0 0px 24px;}

.boxfooter ul li i{top:6px;}

.boxfooter ul li a{font-size:12px;}

.boxtext {padding: 2px 20px;     width: 62%;

    margin: auto}


.box1 h4{font-size:12px;}

.box1 p{font-size:12px;}

.box1{min-height:400px;}

.box span {

    float: right;

    color: #e51b00;

    position: absolute;

    right: 9px;

    bottom: 0px;}

.tabbing-plus-slider img{    padding: 0 13px;}

.tabbing-plus-slider p {text-align: left!important;padding: 20px 14px;}

.textboxsih h4{font-size:30px;}

.textboxsih{left:-130px;}

.textboxsih h4{    margin-left: -35px;}

.imagestext p{font-size:14px;}

.pracepack ul li {padding: 7px 3px 10px 25px;}

.pracepack ul li h5{font-size:18px;}

.pracepack ul li h2{font-size:23px;}

.imagestext .listpack li{font-size:14px;}


/* MIC Outcome Responsive CSS Start */

.woldMiddleBg {
    top: 30px;
	margin-bottom: 50px;
}

.awardBox img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 287px;
    left: 2px;
}

.awardBox1 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 335px;
    left: -10px;
}
.awardBox2 {
    position: absolute;
    top: -45px;
    width: 100%;
    left: 0;
}
.awardBox2 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 337px;
    right: 0;
    z-index: 9;
}
.awardBox2 h3 {
    color: #02b3cc !important;
    font-size: 22px !important;
    top: 112px !important;
    left: 190px !important;
    text-align: center;
    width: 55% !important;
    font-weight: 700;
    text-transform: uppercase;	
}
.awardBox3 {
    position: absolute;
    top: 20px;
    width: 100%;
    left: 360px;
}
.awardBox3 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 74px;
    left: 249px;
}
.awardBox4 {
        position: absolute;
    top: 84px;
    width: 100%;
    left: 430px;
}
.awardBox4 img {
        max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 185px;
    left: 250px;
}
.woldMiddleBg h3 {
    position: absolute;
    top: 302px;
    left: 337px;
    width: 26%;
    text-align: center;
    color: #fff;
    font-size: 26px;
}
.mainBoxMic {
    margin-bottom: 20px;
}
.mainBoxMic1 {
    margin-bottom: 20px;
}
.mainBoxMic2 {
    margin-bottom: 20px;
}
.mainBoxMic3 {
    margin-bottom: 20px;
}
.mainBoxMic4 {
    margin-bottom: 20px;
}
.mainBoxMicImg img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg1 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg2 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg3 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg4 img {
    width: 90%;
    left: -7px;
}
.mainBoxMic img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic1 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic2 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic3 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic4 img {
    width: 40%;
    margin: 0 auto;
}
.container.px-5.py-5 {
    padding-top: 0 !important;
}
.mainBoxMic p {
    margin: 20px 0 30px 0;
}
.mainBoxMic1 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic2 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic3 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic4 p {
    margin: 25px 0 30px 0;
}
}





@media (max-width:992px){

    .box {
    padding: 20px 8px;}
    .bgcolor ul .width{    min-height: 165px;}
#menu-top-menu li a{    padding: .5rem .4rem; font-size:11px;}
.navbar-dark .navbar-nav .nav-link {font-size: 11px;}

.navbarheader .nav-link{margin-left:0px;}

.slidertext h1{font-size:40px; line-height:45px;}

.slidertext p{font-size:18px; margin-bottom:20px;}

.title h3 {font-size: 30px;}

.bgcolor1{    padding: 50px 0;}

.mainwidt{position:unset; margin: auto; margin-top:20px;}

.box1{margin-bottom:20px;}

.tabbing-plus-slider ul{margin:0px;}

.tabbing-plus-slider-one ul{margin:0px; padding:0px;}
.naberlist {
    width: 26%;}

.tabbing-plus-slider-one .slick-prev {left: 10px;     z-index: 99999;}
.tabbing-plus-slider-one .slick-next{left:unset!important;}

.list li span.imp-margin {margin-left: 20px;}

.list li span { font-size: 14px;padding: 0 0rem; margin-left: 20px;}

.video-caption{font-size:18px;}

.boxfooter ul li {padding: 0px 0 7px 24px;}

.boxfooter ul li { padding: 0px 0 0px 24px;}

.boxfooter ul li i{top:6px;}

.boxfooter ul li a{font-size:12px;}

.textboxsih h4{font-size:20px;}

.textboxsih{left:-130px;}

.textboxsih h4{margin-left: -45px;}
.textbotton h4{font-size:18px;}
.textbotton h4 a{font-size:14px;}
.imagestext p{font-size:12px;}
.innovation-banner a img{width:100%;}

.pracepack ul li {padding: 7px 0px 10px 10px;}

.pracepack ul li h5{font-size:18px;}

.pracepack ul li h2{font-size:17px;}
.box1 h4:before {
    right: 0px;
    margin: auto;}
    .box1 {
    margin-top: 15px;
    text-align: center;}
    .box1 {
    min-height: 300px;}



/* MIC Outcome Responsive CSS Start */

.woldMiddleBg {
    top: 0px;
}
.awardBox img {
        max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 197px;
    left: -58px;
}
.awardBox1 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 305px;
    left: -116px;
}
.awardBox2 {
    position: absolute;
    top: -45px;
    width: 100%;
    left: 0;
}
.awardBox2 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 107px;
    right: 0;
    z-index: 9;
}
.awardBox2 h3 {
    color: #02b3cc !important;
    font-size: 16px !important;
    top: 82px !important;
    left: 74px !important;
    text-align: center;
    width: 55% !important;
    font-weight: 700;
    text-transform: uppercase;	
}
.awardBox3 {
    position: absolute;
    top: -10px;
    width: 100%;
    left: 0;
}
.awardBox3 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 74px;
    left: 249px;
}
.awardBox4 {
    position: absolute;
    top: -8px;
    width: 100%;
    left: 0;
}
.awardBox4 img {
        max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 185px;
    left: 250px;
}
.woldMiddleBg h3 {
    position: absolute;
    top: 187px;
    left: 123px;
    width: 26%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.mainBoxMic {
    margin-bottom: 20px;
}
.mainBoxMic1 {
    margin-bottom: 20px;
}
.mainBoxMic2 {
    margin-bottom: 20px;
}
.mainBoxMic3 {
    margin-bottom: 20px;
}
.mainBoxMic4 {
    margin-bottom: 20px;
}
.mainBoxMicImg img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg1 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg2 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg3 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg4 img {
    width: 50%;
    left: -7px;
}
.mainBoxMic img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic1 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic2 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic3 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic4 img {
    width: 40%;
    margin: 0 auto;
}
.container.px-5.py-5 {
    padding-top: 0 !important;
}
.mainBoxMic p {
    margin: 20px 0 30px 0;
}
.mainBoxMic1 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic2 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic3 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic4 p {
    margin: 25px 0 30px 0;
}



}


@media (max-width:768px){
	
	.btncolor {
    padding: 10px 10px !important;
    font-weight: 900 !important;
    font-size: 11px !important;
    background-color: #e51b00 !important;
}
	
	/* MIC Outcome Responsive CSS Start */

.woldMiddleBg {
    top: 0px;
}
.awardBox img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 264px;
    left: -68px;
}
.awardBox1 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 314px;
    left: -116px;
}
.awardBox2 {
    position: absolute;
    top: -45px;
    width: 100%;
    left: 0;
}
.awardBox2 img {
    max-width: 30%;
    margin: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 237px;
    right: 0;
    z-index: 9;
}
.awardBox2 h3 {
    color: #02b3cc !important;
    font-size: 22px !important;
    top: 94px !important;
    left: 148px !important;
    text-align: center;
    width: 55% !important;
    font-weight: 700;
    text-transform: uppercase;
}
.awardBox3 {
    position: absolute;
    top: -10px;
    width: 100%;
    left: 0;
}
.awardBox3 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 87px;
    left: 477px;
}
.awardBox4 {
    position: absolute;
    top: -8px;
    width: 100%;
    left: 0;
}
.awardBox4 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 254px;
    left: 500px;
}
.woldMiddleBg h3 {
    position: absolute;
    top: 277px;
    left: 250px;
    width: 26%;
    text-align: center;
    color: #fff;
    font-size: 26px;
}
.mainBoxMic {
    margin-bottom: 20px;
}
.mainBoxMic1 {
    margin-bottom: 20px;
}
.mainBoxMic2 {
    margin-bottom: 20px;
}
.mainBoxMic3 {
    margin-bottom: 20px;
}
.mainBoxMic4 {
    margin-bottom: 20px;
}
.mainBoxMicImg img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg1 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg2 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg3 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg4 img {
    width: 50%;
    left: -7px;
}
.mainBoxMic img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic1 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic2 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic3 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic4 img {
    width: 40%;
    margin: 0 auto;
}
.container.px-5.py-5 {
    padding-top: 0 !important;
}
.mainBoxMic p {
    margin: 20px 0 30px 0;
}
.mainBoxMic1 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic2 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic3 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic4 p {
    margin: 25px 0 30px 0;
}

#viedo-section{
    color: #000;
	position: relative;
    width: 100%;
}
#head-text{
  background-color: #173859;
  color: #fff;
  padding-bottom:15%;
}
button#upbtn{
	margin:0 0 10px 0;
}
a#ic_detBtn{
	margin:0 0 10px 0;
}

}



@media (max-width:767px){
.innovation-banner a img{width:100%;}
.innovation-banner{    padding: 30px 0px 40px 0px;}
.navbar-toggler{display:none;}

.bgcolor{margin-top:0PX;}

.slidertext h1 {

color: #ffff;

font-size: 25px;

line-height: 27px;}
button#responsive-menu-button.is-active{right: 0!important;top: 0!important;left: unset!important; transform: none !important;}
button#responsive-menu-button{background-color: #e51b0075!important;border: 1px solid #e51b0075!important;border-radius: 3px;}
#is-hidden{display: none;}


.top-header{top:10px;}

.slidertext p{font-size:14px;     margin-bottom: 20px;}

.boder1{border:0px;     box-shadow: 0px 0px 3px #000;margin-bottom: 15px;}

.bgcolor{    width: 92%!important;}



.title h3{font-size:25px;}

.bgcolor1{padding:45px 0px;} 

.mainwidt{position: unset; margin: auto!important;}

.box1{margin-top:15px; text-align: center;}

.box1 h4{font-size:16px;}

.box1 h4:before{right:0px; margin: auto;}

.sectionpadd{margin-bottom:0px;}

.tabbing-plus-slider ul{margin:0px; text-align: center;

margin: auto;

display: inline-flex;}

.nav-pills .nav-link.active, .nav-pills .show.nav-link{font-size:18px;}

.nav-pills .nav-link{font-size:18px;}

.tabbing-plus-slider img {padding: 0 7px;}

.tabbing-plus-slider p{    padding: 20px 15px;}

.tabbing-plus-slider-one ul{margin:0px;}

.tabbing-plus-slider-one ul{ text-align: center; margin: auto;}

.list li span{position: unset;}

ul.list{    padding: 0 25px;}

.box5{margin-bottom:20px;}

.boxfooter{margin-bottom:25px;}

.boxfooter ul li {

padding: 9px 0 0px 24px;}

.mar1{margin-bottom:40px;}

.collapse.show{background-color:#000!important;}

.collapse{background-color:#000!important;}

.bgcolor ul .width{width:100%; float:unset; margin-bottom: 10px; box-shadow:0px 0px 3px#000;}

.bgcolor .width1{width: 40.25%;     margin: auto;padding: 0px;}

.bgcolor ul li{float: unset;}

.bgcolor{box-shadow:unset}

.innovation-banner h1{text-align: center; margin-top:10px; font-size:20px;}

.tab-buttons span{    font-size: 10px;     padding: 10px 14px;}

.tab-buttons span.active:before{bottom:-7px; font-size:15px;}

.tab-buttons span:before{bottom:-9px; font-size:15px;}

.naberlist {

width: 51%;}

.textboxsih{position:unset;}

.textboxsih h4{margin-left:0px; font-size:18px;     margin-right: 0px;}

.textboxsih p{    margin-left: 5%;     margin-top: 10px;}

.pracepack ul li{    padding: 10px 0px 10px 0px;}
button#responsive-menu-button{    
top: 0px !important;
    left: unset!important;
    right: 0 !important;

}
.abouts1 {margin-top: 0px!important;}
.footer{    padding-top: 50px;padding-bottom: 0px;}




/* MIC Outcome Responsive CSS Start */

.woldMiddleBg {
    top: 0px;
}
.awardBox img {
        max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 197px;
    left: -58px;
}
.awardBox1 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 305px;
    left: -116px;
}
.awardBox2 {
    position: absolute;
    top: -45px;
    width: 100%;
    left: 0;
}
.awardBox2 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 107px;
    right: 0;
    z-index: 9;
}
.awardBox2 h3 {
    color: #02b3cc !important;
    font-size: 16px !important;
    top: 82px !important;
    left: 74px !important;
    text-align: center;
    width: 55% !important;
    font-weight: 700;
    text-transform: uppercase;	
}
.awardBox3 {
    position: absolute;
    top: -10px;
    width: 100%;
    left: 0;
}
.awardBox3 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 74px;
    left: 249px;
}
.awardBox4 {
    position: absolute;
    top: -8px;
    width: 100%;
    left: 0;
}
.awardBox4 img {
        max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 185px;
    left: 250px;
}
.woldMiddleBg h3 {
    position: absolute;
    top: 187px;
    left: 123px;
    width: 26%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.mainBoxMic {
    margin-bottom: 20px;
}
.mainBoxMic1 {
    margin-bottom: 20px;
}
.mainBoxMic2 {
    margin-bottom: 20px;
}
.mainBoxMic3 {
    margin-bottom: 20px;
}
.mainBoxMic4 {
    margin-bottom: 20px;
}
.mainBoxMicImg img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg1 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg2 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg3 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg4 img {
    width: 50%;
    left: -7px;
}
.mainBoxMic img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic1 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic2 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic3 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic4 img {
    width: 40%;
    margin: 0 auto;
}
.container.px-5.py-5 {
    padding-top: 0 !important;
}
.mainBoxMic p {
    margin: 20px 0 30px 0;
}
.mainBoxMic1 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic2 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic3 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic4 p {
    margin: 25px 0 30px 0;
}
.ribbon-horizontal {
   top:255px;
}
.ribbon-horizontal1 {
   top:255px;
}

.step_join{
	text-align:center;
	color:#048BB7;
	margin-bottom:7%;
    font-family: 'Conv_Segoe UI Regular',Sans-Serif;
	font-size:14px;
}
#viedo-section{
    color: #000;
	position: relative;
    width: 100%;
}
#viedo-section{
    color: #000;
	position: relative;
    width: 100%;
}
#head-text{
  background-color: #173859;
  color: #fff;
  padding-bottom:15%;
}

}



@media (max-width:480px){
.list-two{margin-top:0px!important; margin-bottom:0px;} 
.list-one{padding: 0px 0 0 0;}
.mhrd h3{font-size:18px;}
.listulwhy ul li{font-size:14px;}
.marwgy{margin-top:0px;}
.whyicc h3{font-size:18px;}
.abouts1 {margin-top: 0px!important;}
.bannerslider .slick-next{display:none!important;}
.bannerslider .slick-prev{display:none!important;}
.theme-heading{font-size:18px;}
.paddsection{padding-bottom:0px;}
.innovation-banner a img{width:100%;}
button#responsive-menu-button{    
top: 0px !important;
    left: unset!important;
    right: 0 !important;

}
.innovation-banner a img{width:100%;}
.innovation-banner{    padding: 30px 0px 40px 0px;}
.navbar-toggler{display:none;}

.bannerslider img{height:365px;}

.naberlist {width: 65%;}
.inner-theme-heading{font-size:14px;}
.AboutUs_Message h2{font-size:17px;}
.tab-buttons span:before{bottom:-9px; font-size:15px;}
.AboutUs_Message p{font-size:14px;}

.tab-buttons span.active:before{bottom:-7px; font-size:15px;}

.tab-buttons span{    font-size: 10px;     padding: 10px 14px;}

.innovation-banner h1{text-align: center; margin-top:10px; font-size:20px;}

.bgcolor ul .width{width:100%; float:unset; margin-bottom: 10px; box-shadow:0px 0px 3px#000; min-height:120px;}

.collapse.show{background-color:#000!important;}

.collapse{background-color:#000!important;}

.bgcolor{margin-top:0PX;}

.bgcolor .width1{width: 40.25%;     margin: auto;padding: 0px;}

.bgcolor ul li{float: unset;}

.bgcolor{box-shadow:unset}

.slidertext h1 {

color: #ffff;

font-size: 25px;

line-height: 27px;}

.top-header{top:10px;}

.slidertext p{font-size:14px;     margin-bottom: 20px;}

.boder1{border:0px;     box-shadow: 0px 0px 3px #000;margin-bottom: 15px;}

.bgcolor{    width: 92%!important;}

.title h3{font-size:18px;}

.bgcolor1{padding:45px 0px;} 
.list li{ margin: 0px 0px;}
.list li{padding-bottom:30px;}
.boxfooter span{margin-left:0px;}
.boxfooter ul li i {top: 14px;}

.mainwidt{position: unset; margin: auto!important;}

.box1{margin-top:15px; text-align: center;}

.box1 h4{font-size:14px;}

.box1 h4:before{right:0px; margin: auto;}

.sectionpadd{margin-bottom:0px;}

.tabbing-plus-slider ul{margin:0px; text-align: center;margin: auto;display: inline-flex;}

.nav-pills .nav-link.active, .nav-pills .show.nav-link{font-size:18px;}

.nav-pills .nav-link{font-size:18px;}

.tabbing-plus-slider img {padding: 0 7px;}

.tabbing-plus-slider p{    padding: 20px 15px;}

.tabbing-plus-slider-one ul{ text-align: center; margin: auto;}

.list li span{position: unset;}

ul.list{    padding: 0px 0px;}
.list li h4{font-size:14px;}

.box5{margin-bottom:20px;}

.boxfooter{margin-bottom:25px;}

.boxfooter ul li {

padding: 9px 0 0px 24px;}

.mar1{margin-bottom:40px;}



.textboxsih{position:unset;}

.textboxsih h4{margin-left:0px; font-size:18px;     margin-right: 0px;}

.textboxsih p{    margin-left: 5%;  margin-top: 10px}

.pracepack ul li{    padding: 10px 0px 10px 0px;}

.pracepack ul li h5 {

    font-size: 15px;}

    .innovation-banner{    padding: 20px 40px 50px 40px;}
	section.maxWidth {
    padding: 10px 70px 50px 40px;
}

    .textbotton h4{line-height: 40px;     font-size: 16px;}

    .textbotton h4 a {

       float: right;
    color: #ff5500;
    border: 2px solid #ff5500;
    padding: 0px 11px;
    background-color: #fff;
    font-size: 12px;
    position: relative;
    right: 80px;
	}
    .top-icon .fa-user2{display:none;}
    .boxtext{width:90%;}
    .live{    font-size: 14px;     padding: 6px 14px;}
    .btncolor{    padding: 10px 15px; font-size:14px;}
.btnpadd {
    padding: 10px 9px!important;}
    .footer{    padding-top: 50px;padding-bottom: 0px;}
    .button-one{margin-top:0px;}
    .heading{font-size:20px;}


.top-icon {
    text-align: right;
    position: relative;
    width: 370px;
    right: 0;
    left: -175px;
    top: 43px;
}
.top-icon ul li {
    display: inline-block;
    margin-right: 3px;
	margin-bottom: 17px;
}
.resbtncolor {
    padding: 10px 4px !important;
}
li.SocialMedia {
        right: 0;
    left: -220px;
    position: relative;
    top: 45px;
}
li.SocialMedia.SocialMediaInner2 {
    top: 0;
    left: -128px;
}
li.SocialMediaF {
    right: 0;
    left: -222px;
    position: relative;
    top: 45px;
}
li.SocialMedia.SocialMediaInner3 {
    top: 0;
    left: -125px;
}
button#responsive-menu-button {
    top: 0px !important;
    left: unset!important;
    right: 0 !important;

}
.slidertext {
    position: absolute;
	top: 45%;
}
.top-iconInner {
    text-align: right;
    position: relative;
    width: 377px;
    right: 0;
    left: -167px;
    top: 50px;
}
.btncolor {
    padding: 10px 14px !important;
    font-weight: 900 !important;
    font-size: 12px !important;
    background-color: #e51b00 !important;
}


/* MIC Outcome Responsive CSS Start */

.woldMiddleBg {
    top: 0px;
}
.awardBox img {
        max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 197px;
    left: -58px;
}
.awardBox1 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 305px;
    left: -116px;
}
.awardBox2 {
    position: absolute;
    top: -45px;
    width: 100%;
    left: 0;
}
.awardBox2 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 107px;
    right: 0;
    z-index: 9;
}
.awardBox2 h3 {
    color: #02b3cc !important;
    font-size: 16px !important;
    top: 82px !important;
    left: 74px !important;
    text-align: center;
    width: 55% !important;
    font-weight: 700;
    text-transform: uppercase;	
}
.awardBox3 {
    position: absolute;
    top: -10px;
    width: 100%;
    left: 0;
}
.awardBox3 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 74px;
    left: 249px;
}
.awardBox4 {
    position: absolute;
    top: -8px;
    width: 100%;
    left: 0;
}
.awardBox4 img {
        max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 185px;
    left: 250px;
}
.woldMiddleBg h3 {
    position: absolute;
    top: 187px;
    left: 123px;
    width: 26%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.mainBoxMic {
    margin-bottom: 20px;
}
.mainBoxMic1 {
    margin-bottom: 20px;
}
.mainBoxMic2 {
    margin-bottom: 20px;
}
.mainBoxMic3 {
    margin-bottom: 20px;
}
.mainBoxMic4 {
    margin-bottom: 20px;
}
.mainBoxMicImg img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg1 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg2 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg3 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg4 img {
    width: 50%;
    left: -7px;
}
.mainBoxMic img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic1 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic2 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic3 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic4 img {
    width: 40%;
    margin: 0 auto;
}
.container.px-5.py-5 {
    padding-top: 0 !important;
}
.mainBoxMic p {
    margin: 20px 0 30px 0;
}
.mainBoxMic1 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic2 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic3 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic4 p {
    margin: 25px 0 30px 0;
}
#viedo-section{
    color: #000;
	position: relative;
    width: 100%;
}
#head-text{
  background-color: #173859;
  color: #fff;
  padding-bottom:15%;
}
h1.inner-theme-heading.inner-theme-headingDevice {
font-size: 18px;
}
.theme_icon {
position: absolute;
top: -5px;
left: 0;
border: 1px solid transparent;
border-radius: 10px;
padding: 3%;
min-height: 70px;
width: 30%;
}
.theme_icon12 {
position: absolute;
top: -5px;
left: 0;
border: 1px solid transparent;
border-radius: 10px;
padding: 3%;
min-height: 70px;
width: 30%;
}
div.themeWise1 {
-webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 18px -8px rgba(0,0,0,0.75);
border-radius: 10px;
padding: 5% 3% 0 3%;
margin: 10% 1% 1% 1%;
background-color: #fff;
position: relative;
min-height: 115px;
}
div.themeWise12 {
-webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 18px -8px rgba(0,0,0,0.75);
border-radius: 10px;
padding: 5% 3% 0 3%;
margin: 10% 5% 1% 7%;
background-color: #9966CC;
color:#fff;
position: relative;
min-height: 115px;
}
.theme_icon img {
height: 70px;
}
.theme_icon12 img {
height: 70px;
}
.theme_heading1 h1 {
position: relative;
font-size: 50px;
}
.theme_heading12 h1 {
position: relative;
font-size: 50px;
}
p.t_name {
font-size: 12px;
font-weight: 600;
text-align: center;
position: relative;
top: -5px;
}
.col-md-3.mapBoxSec {
margin: 0 0 30px 0;
}
.col-md-4.mapBoxSec {
margin: 0 0 30px 0;
}
.training h3{
  text-align:center;
  font-family: 'Merienda', cursive;
  color: #004C42;
  /* position:absolute; */
  /* top:43%; */
  /* left:30%; */
}
.training1 img{
	width:100%;
}
.zonal {
-webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
border-radius: 10px;
background-color: #fff;
padding: 3% 3% 0 3%;
min-height: 432px;
}
.training-outter {
-webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
border-radius: 10px;
background-color: #fff;
padding: 3% 1%;
}
#feedback {
	height: 0px;
	width: 55px;
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 1000;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#feedback a {
	display: block;
	background:#ff5402;
	height: 52px;
	padding-top: 10px;
	width: 155px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size:13px
}
#feedback1 {
    height: 0px;
    width: 59px;
    position: fixed;
    right: 0;
    top: 65%;
    z-index: 1000;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#feedback1 a {
    display: block;
    background: #ff5402;
    height: 30px;
    padding-top: 5px;
    width: 115px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
}
#feedback {
    height: 0px;
    width: 59px;
    position: fixed;
    right: 0;
    top: 45%;
    z-index: 1000;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#feedback a {
    display: block;
    background: #ff5402;
    height: 30px;
    padding-top: 5px;
    width: 115px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
}
}

@media (max-width:414px){
	
	.aheto-logo__image {
    margin: 0;
    width: 60%;
}

.aht-socials--circle .aht-socials__link {
    width: 35px;
    height: 35px;
    margin: 1px;
    border-radius: 50%;
    line-height: 34px;
    text-align: center;
}
.main-header .aheto-toolbar .aht-socials {
    padding: 7px 10px 4px 0;
    position: absolute;
    top: 5px;
    right: 0;
}
.registartion2.resIICinnovation {
    position: relative;
    top: -5px;
    right: -90px;
}
.registartion2.resIICLogin {
    position: relative;
    top: -5px;
    right: -70px;
}
.registartion1 {
    margin: 10px 30px 0 0 !important;
    margin-left: 0;
}
.registartion2 {
    margin: 9px 0 20px 0 !important;
}
	
	.innovation-banner {
    padding: 20px 0px 30px 10px !important;
}
section.maxWidth {
    padding: 10px 40px 50px 40px;
}
	.top-icon {
    text-align: right;
    position: relative;
    width: 370px;
    right: 0;
    left: -175px;
    top: 43px;
}
.top-icon ul li {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 20px;
}
li.SocialMedia.SocialMediaInner2 {
    position: relative;
    top: 0;
    left: -117px;
}
li.SocialMedia.SocialMediaInner3 {
    position: relative;
    top: 0;
    left: -113px;
}
.resbtncolor {
    padding: 10px 4px !important;
}
li.SocialMedia {
    right: 0;
    left: -208px;
    position: relative;
    top: 45px;
}
li.SocialMediaF {
    right: 0;
    left: -210px;
    position: relative;
    top: 45px;
}
li.SocialMedia.SocialMediaInner2 {
    position: relative;
    top: 0;
    left: -110px;
}
button#responsive-menu-button {
    top: 0px !important;
    left: unset!important;
    right: 0px !important;
}
.slidertext {
    position: absolute;
	top: 45%;
}

.top-iconInner {
    text-align: right;
    position: relative;
    width: 380px;
    right: 0;
    left: -175px;
    top: 53px;
}
.btncolor {
    padding: 10px 14px !important;
    font-weight: 900 !important;
    font-size: 12px !important;
    background-color: #e51b00 !important;
}


/* MIC Outcome Responsive CSS Start */

.woldMiddleBg {
    top: 0px;
}
.awardBox img {
        max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 197px;
    left: -58px;
}
.awardBox1 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 305px;
    left: -116px;
}
.awardBox2 {
    position: absolute;
    top: -45px;
    width: 100%;
    left: 0;
}
.awardBox2 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 107px;
    right: 0;
    z-index: 9;
}
.awardBox2 h3 {
    color: #02b3cc !important;
    font-size: 16px !important;
    top: 82px !important;
    left: 74px !important;
    text-align: center;
    width: 55% !important;
    font-weight: 700;
    text-transform: uppercase;	
}
.awardBox3 {
    position: absolute;
    top: -10px;
    width: 100%;
    left: 0;
}
.awardBox3 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 74px;
    left: 249px;
}
.awardBox4 {
    position: absolute;
    top: -8px;
    width: 100%;
    left: 0;
}
.awardBox4 img {
        max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 185px;
    left: 250px;
}
.woldMiddleBg h3 {
    position: absolute;
    top: 187px;
    left: 123px;
    width: 26%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.mainBoxMic {
    margin-bottom: 20px;
}
.mainBoxMic1 {
    margin-bottom: 20px;
}
.mainBoxMic2 {
    margin-bottom: 20px;
}
.mainBoxMic3 {
    margin-bottom: 20px;
}
.mainBoxMic4 {
    margin-bottom: 20px;
}
.mainBoxMicImg img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg1 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg2 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg3 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg4 img {
    width: 50%;
    left: -7px;
}
.mainBoxMic img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic1 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic2 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic3 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic4 img {
    width: 40%;
    margin: 0 auto;
}
.container.px-5.py-5 {
    padding-top: 0 !important;
}
.mainBoxMic p {
    margin: 20px 0 30px 0;
}
.mainBoxMic1 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic2 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic3 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic4 p {
    margin: 25px 0 30px 0;
}

/* Slider CSS */

.slidertext1 {
    top: 72%;
}
#viedo-section{
    color: #000;
	position: relative;
    width: 100%;
}
#head-text{
  background-color: #173859;
  color: #fff;
  padding-bottom:15%;
}

}

@media (max-width:375px){
	
	.aheto-logo__image {
    margin: 0;
    width: 50%;
}
	
	.aht-socials--circle .aht-socials__link {
    width: 35px;
    height: 35px;
    margin: 1px;
    border-radius: 50%;
    line-height: 34px;
    text-align: center;
}
.main-header .aheto-toolbar .aht-socials {
    padding: 7px 10px 4px 0;
    position: absolute;
    top: 0;
    right: 0;
}
.registartion2.resIICinnovation {
    position: relative;
    top: -105px;
    right: -200px;
}
.registartion2.resIICLogin {
    position: relative;
    top: -1px;
    right: -92px;
}
.main-header .aheto-toolbar {
    padding: 4px 0;
    max-height: 170px;
}
.registartion1 {
    margin: 10px 30px 10px 0 !important;
    margin-left: 0;
}
	
	.innovation-banner {
    padding: 20px 10px 30px 10px;
}
section.maxWidth {
    padding: 10px 50px 50px 40px;
}
	.top-icon {
    text-align: right;
    position: relative;
    width: 370px;
    right: 0;
    left: -175px;
    top: 43px;
}
.top-icon ul li {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 18px;
}
.resbtncolor {
    padding: 10px 4px !important;
}
li.SocialMedia {
        right: 0;
    left: -200px;
    position: relative;
    top: 45px;
}
li.SocialMedia.SocialMediaInner2 {
    position: relative;
    top: 0;
    left: -110px;
}
li.SocialMedia.SocialMediaInner3 {
    position: relative;
    top: 0;
    left: -110px;
}
li.SocialMediaF {
    right: 0;
    left: -200px;
    position: relative;
    top: 45px;
}
button#responsive-menu-button {
    top: 0px !important;
    left: unset!important;
    right: 0px !important;
}
.slidertext {
    position: absolute;
	top: 45%;
}

.top-iconInner {
    text-align: right;
    position: relative;
    width: 380px;
    right: 0;
    left: -177px;
    top: 49px;
}
.btncolor {
    padding: 10px 14px !important;
    font-weight: 900 !important;
    font-size: 12px !important;
    background-color: #e51b00 !important;
}


/* MIC Outcome Responsive CSS Start */

.woldMiddleBg {
    top: 0px;
}
.awardBox img {
        max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 197px;
    left: -58px;
}
.awardBox1 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 305px;
    left: -116px;
}
.awardBox2 {
    position: absolute;
    top: -45px;
    width: 100%;
    left: 0;
}
.awardBox2 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 100px;
    right: 0;
    z-index: 9;
}
.awardBox2 h3 {
    color: #02b3cc !important;
    font-size: 16px !important;
    top: 75px !important;
    left: 74px !important;
    text-align: center;
    width: 55% !important;
    font-weight: 700;
    text-transform: uppercase;	
}
.awardBox3 {
    position: absolute;
    top: -10px;
    width: 100%;
    left: 0;
}
.awardBox3 img {
    max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 74px;
    left: 223px;
}
.awardBox4 {
    position: absolute;
    top: -8px;
    width: 100%;
    left: 0;
}
.awardBox4 img {
        max-width: 40%;
    margin: 0;
    display: block;
    position: absolute;
    top: 185px;
    left: 224px;
}
.woldMiddleBg h3 {
    position: absolute;
    top: 187px;
    left: 123px;
    width: 26%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.mainBoxMic {
    margin-bottom: 20px;
}
.mainBoxMic1 {
    margin-bottom: 20px;
}
.mainBoxMic2 {
    margin-bottom: 20px;
}
.mainBoxMic3 {
    margin-bottom: 20px;
}
.mainBoxMic4 {
    margin-bottom: 20px;
}
.mainBoxMicImg img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg1 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg2 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg3 img {
    width: 90%;
    left: -4px;
}
.mainBoxMicImg4 img {
    width: 50%;
    left: -7px;
}
.mainBoxMic img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic1 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic2 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic3 img {
    width: 40%;
    margin: 0 auto;
}
.mainBoxMic4 img {
    width: 40%;
    margin: 0 auto;
}
.container.px-5.py-5 {
    padding-top: 0 !important;
}
.mainBoxMic p {
    margin: 20px 0 30px 0;
}
.mainBoxMic1 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic2 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic3 p {
    margin: 20px 0 30px 0;
}
.mainBoxMic4 p {
    margin: 25px 0 30px 0;
}
.ribbon-horizontal {
   top: 230px;
}
.ribbon-horizontal1 {
   top: 230px;
}
.step_join{
	text-align:center;
	color:#048BB7;
	
    font-family: 'Conv_Segoe UI Regular',Sans-Serif;
	font-size:14px;
}
#viedo-section{
    color: #000;
	position: relative;
    width: 100%;
}
#head-text{
  background-color: #173859;
  color: #fff;
  padding-bottom:15%;
}
}

@media (max-width:411px){


}

@media (max-width:360px){
	.registartion2.resIICinnovation {
    position: relative;
    top: -103px;
    right: -180px;
}
.registartion2.resIICLogin {
    position: relative;
    top: -1px;
    right: -72px;
}
.top-iconInner {
    text-align: right;
    position: relative;
    width: 380px;
    right: 0;
    left: -175px;
    top: 53px;
}
}

@media (max-width:320px){
	
	
	.aheto-logo__image {
    margin: 0;
    width: 50%;
}
	
	.aht-socials--circle .aht-socials__link {
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
}
.main-header .aheto-toolbar .aht-socials {
    padding: 7px 10px 4px 0;
    position: absolute;
    top: 0;
    right: 0;
}
.registartion2.resIICinnovation {
    position: relative;
    top: -102px;
    right: -169px;
}
.registartion2.resIICLogin {
    position: relative;
    top: -1px;
    right: -35px;
}
.main-header .aheto-toolbar {
    padding: 4px 0;
    max-height: 170px;
}
.registartion1 {
    margin: 10px 30px 10px 0 !important;
    margin-left: 0;
}

	
	.innovation-banner {
    padding: 20px 30px 30px 10px;
}
section.maxWidth {
    padding: 10px 70px 50px 40px;
}
	.top-icon {
    text-align: right;
    position: relative;
    width: 370px;
    right: 0;
    left: -175px;
    top: 43px;
}
.top-icon ul li {
    display: inline-block;
    margin-right: 3px;
}
.resbtncolor {
    padding: 10px 4px !important;
}
li.SocialMedia {
        right: 0;
    left: -201px;
    position: relative;
    top: 45px;
}
li.SocialMediaF {
    right: 0;
    left: -203px;
    position: relative;
    top: 45px;
}
button#responsive-menu-button {
    top: 0px !important;
    left: unset!important;
    right: 0px !important;
}
.slidertext {
    position: absolute;
	top: 45%;
}

.top-iconInner {
    text-align: right;
    position: relative;
    width: 376px;
    right: 0;
    left: -155px;
    top: 43px;
}
.btncolor {
    padding: 10px 14px !important;
    font-weight: 900 !important;
    font-size: 12px !important;
    background-color: #e51b00 !important;
}


/* MIC Outcome Responsive CSS Start */

.woldMiddleBg {
    top: -10px;
}
.awardBox img {
    max-width: 30%;
    margin: 0;
    display: block;
    position: absolute;
    top: 177px;
    left: -54px;
}
.awardBox1 img {
    max-width: 30%;
    margin: 0;
    display: block;
    position: absolute;
    top: 305px;
    left: -110px;
}
.awardBox2 {
    position: absolute;
    top: -25px;
    width: 100%;
    left: 0;
}
.awardBox2 img {
    max-width: 30%;
    margin: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: 100px;
    right: 0;
    z-index: 9;
}
.awardBox2 h3 {
    color: #02b3cc !important;
    font-size: 14px;
    top: 45px !important;
    left: 60px !important;
    text-align: center;
    width: 55% !important;
    font-weight: 700;
    text-transform: uppercase;
}
.awardBox3 {
    position: absolute;
    top: -10px;
    width: 100%;
    left: 0;
}
.awardBox3 img {
    max-width: 30%;
    margin: 0;
    display: block;
    position: absolute;
    top: 74px;
    left: 210px;
}
.awardBox4 {
    position: absolute;
    top: -8px;
    width: 100%;
    left: 0;
}
.awardBox4 img {
    max-width: 30%;
    margin: 0;
    display: block;
    position: absolute;
    top: 165px;
    left: 215px;
}
.woldMiddleBg h3 {
    position: absolute;
    top: 155px;
    left: 105px;
    width: 26%;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.mainBoxMic {
    margin-bottom: 20px;
}
.mainBoxMic1 {
    margin-bottom: 20px;
}
.mainBoxMic2 {
    margin-bottom: 20px;
}
.mainBoxMic3 {
    margin-bottom: 20px;
}
.mainBoxMic4 {
    margin-bottom: 20px;
}
.mainBoxMicImg img {
    width: 70%;
}
.mainBoxMicImg1 img {
    width: 70%;
}
.mainBoxMicImg2 img {
    width: 70%;
}
.mainBoxMicImg3 img {
    width: 70%;
}
.mainBoxMicImg4 img {
    width: 70%;
}
.mainBoxMic img {
    width: 20%;
    margin: 0 auto;
}
.mainBoxMic1 img {
    width: 20%;
    margin: 0 auto;
}
.mainBoxMic2 img {
    width: 20%;
    margin: 0 auto;
}
.mainBoxMic3 img {
    width: 20%;
    margin: 0 auto;
}
.mainBoxMic4 img {
    width: 20%;
    margin: 0 auto;
}
.container.px-5.py-5 {
    padding-top: 0 !important;
}
#viedo-section{
    color: #000;
	position: relative;
    width: 100%;
}
#head-text{
  background-color: #173859;
  color: #fff;
  padding-bottom:15%;
}
}




.list-three li{display: inline-block;}